<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Add any necessary CSS or JavaScript files -->
    <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome to the Ecommerce Application!</h1>
    </header>
    
    <nav>
        <ul>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/register}">Register</a></li>
        </ul>
    </nav>

    <main>
        <div>
            <h2>About Us</h2>
            <p></p>
        </div>

        <div>
            <h2>Our Products</h2>
            <p></p>
        </div>
    </main>
</body>
</html>
