<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Add any necessary CSS or JavaScript files -->
    <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

	<header>
    <h1>Login</h1>
    </header>
    
    <form action="#" th:action="@{/login}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    
    <div th:if="${errorMessage}" class="alert alert-danger">
		<p style="color: red;" th:text="${errorMessage}"></p>
	</div>
    
    <p>Don't have an account? <a th:href="@{/register}">Register</a></p>
</body>
</html>
